src/files/cdf_v2.0.0.cl.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- edited with XMLSpy v2011 (http://www.altova.com) by Christophe Hoël (IMF Arbon) -->
<!--W3C Schema generated by XMLSpy v2011 (http://www.altova.com)-->
<!--Please add namespace attributes, a targetNamespace attribute and import elements according to your requirements-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
	<xsd:complexType name="MSRSW">
		<xsd:sequence>
			<xsd:element ref="SHORT-NAME" minOccurs="0"/>
			<xsd:element ref="CATEGORY" minOccurs="0"/>
			<xsd:element ref="SW-SYSTEMS" minOccurs="0"/>
			<xsd:element ref="SDGS" minOccurs="0"/>
			<xsd:element ref="LOCS" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="C" type="xsd:anySimpleType"/>
		<xsd:attribute name="CREATOR" type="xsd:anySimpleType"/>
		<xsd:attribute name="CREATOR-VERSION" type="xsd:anySimpleType"/>
		<xsd:attribute name="F-CM-TOOL-ID" type="xsd:anySimpleType" fixed="$Id$"/>
		<xsd:attribute name="F-DTD-BUILD" type="xsd:anySimpleType" fixed="9"/>
		<xsd:attribute name="F-DTD-VERSION" type="xsd:anySimpleType" fixed="3.0.0"/>
		<xsd:attribute name="F-PUBID" type="xsd:anySimpleType" fixed="-//ASAM//DTD MSR SOFTWARE DTD:V3.0.0:LAI:IAI:XML:MSRSW.DTD//EN"/>
		<xsd:attribute name="LC" type="xsd:anySimpleType"/>
		<xsd:attribute name="PUBID" type="xsd:anySimpleType" default="-//ASAM//DTD CALIBRATION DATA FORMAT:V2.0.0:LAI:IAI:XML:CDF200.XSD//EN"/>
		<xsd:attribute name="S" type="xsd:anySimpleType"/>
		<xsd:attribute name="SI" type="xsd:anySimpleType"/>
		<xsd:attribute name="T" type="xsd:anySimpleType"/>
		<xsd:attribute name="TI" type="xsd:anySimpleType"/>
		<xsd:attribute name="VIEW" type="xsd:anySimpleType"/>
	</xsd:complexType>
	<xsd:element name="MSRSW" type="MSRSW"/>
	<xsd:complexType name="SHORT-NAME" mixed="true">
		<xsd:attribute name="C" type="xsd:anySimpleType"/>
		<xsd:attribute name="LC" type="xsd:anySimpleType"/>
		<xsd:attribute name="S" type="xsd:anySimpleType"/>
		<xsd:attribute name="SI" type="xsd:anySimpleType"/>
		<xsd:attribute name="T" type="xsd:anySimpleType"/>
		<xsd:attribute name="TI" type="xsd:anySimpleType"/>
		<xsd:attribute name="VIEW" type="xsd:anySimpleType"/>
	</xsd:complexType>
	<xsd:element name="SHORT-NAME" type="SHORT-NAME"/>
	<xsd:complexType name="CATEGORY" mixed="true">
		<xsd:attribute name="C" type="xsd:anySimpleType"/>
		<xsd:attribute name="LC" type="xsd:anySimpleType"/>
		<xsd:attribute name="S" type="xsd:anySimpleType"/>
		<xsd:attribute name="SI" type="xsd:anySimpleType"/>
		<xsd:attribute name="T" type="xsd:anySimpleType"/>
		<xsd:attribute name="TI" type="xsd:anySimpleType"/>
		<xsd:attribute name="VIEW" type="xsd:anySimpleType"/>
	</xsd:complexType>
	<xsd:element name="CATEGORY" type="CATEGORY"/>
	<xsd:complexType name="SW-SYSTEMS">
		<xsd:sequence>
			<xsd:element ref="SW-SYSTEM" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="C" type="xsd:anySimpleType"/>
		<xsd:attribute name="LC" type="xsd:anySimpleType"/>
		<xsd:attribute name="S" type="xsd:anySimpleType"/>
		<xsd:attribute name="SI" type="xsd:anySimpleType"/>
		<xsd:attribute name="T" type="xsd:anySimpleType"/>
		<xsd:attribute name="TI" type="xsd:anySimpleType"/>
		<xsd:attribute name="VIEW" type="xsd:anySimpleType"/>
	</xsd:complexType>
	<xsd:element name="SW-SYSTEMS" type="SW-SYSTEMS"/>
	<xsd:complexType name="SDGS">
		<xsd:sequence>
			<xsd:element ref="SDG" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="C" type="xsd:anySimpleType"/>
		<xsd:attribute name="LC" type="xsd:anySimpleType"/>
		<xsd:attribute name="S" type="xsd:anySimpleType"/>
		<xsd:attribute name="SI" type="xsd:anySimpleType"/>
		<xsd:attribute name="T" type="xsd:anySimpleType"/>
		<xsd:attribute name="TI" type="xsd:anySimpleType"/>
		<xsd:attribute name="VIEW" type="xsd:anySimpleType"/>
	</xsd:complexType>
	<xsd:element name="SDGS" type="SDGS"/>
	<xsd:complexType name="LOCS">
		<xsd:sequence>
			<xsd:element ref="NAMELOC" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="C" type="xsd:anySimpleType"/>
		<xsd:attribute name="LC" type="xsd:anySimpleType"/>
		<xsd:attribute name="S" type="xsd:anySimpleType"/>
		<xsd:attribute name="SI" type="xsd:anySimpleType"/>
		<xsd:attribute name="T" type="xsd:anySimpleType"/>
		<xsd:attribute name="TI" type="xsd:anySimpleType"/>
		<xsd:attribute name="VIEW" type="xsd:anySimpleType"/>
	</xsd:complexType>
	<xsd:element name="LOCS" type="LOCS"/>
	<xsd:complexType name="SW-SYSTEM">
		<xsd:sequence>
			<xsd:element ref="SHORT-NAME"/>
			<xsd:element ref="LONG-NAME" minOccurs="0"/>
			<xsd:element ref="CATEGORY" minOccurs="0"/>
			<xsd:element ref="SW-INSTANCE-SPEC" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="C" type="xsd:anySimpleType"/>
		<xsd:attribute name="F-ID-CLASS" type="xsd:NMTOKEN" fixed="SW-SYSTEM"/>
		<xsd:attribute name="F-NAMESPACE" type="xsd:NMTOKENS" fixed="BASE-TYPE CHAPTER COMPU-METHOD CONF-ITEM CONF-RULE DATA-CONSTR DEF-ITEM FIGURE FORMULA PHYSICAL-DIMENSION PRM SDG STD SW-ADDR-METHOD SW-AXIS-TYPE SW-CALIBRATION-METHOD SW-CALPRM SW-CALPRM-PROTOTYPE SW-CLASS SW-CLASS-ATTR-IMPL SW-CLASS-INSTANCE SW-CLASS-PROTOTYPE SW-CODE-SYNTAX SW-COLLECTION SW-CPU-MEM-SEG SW-EVENT SW-EVENT-SOURCE SW-FEATURE SW-FEATURE-INTERFACE SW-FEATURE-VARIANT SW-GENERIC-AXIS-PARAM-TYPE SW-INSTANCE SW-INSTANCE-TREE SW-OPER-MODE SW-RECORD-LAYOUT SW-SERVICE SW-SERVICE-ARG SW-SERVICE-PROTOTYPE SW-SERVICE-RETURN SW-SYSTEMCONST SW-TASK SW-TEMPLATE SW-USER-ACCESS-CASE SW-USER-GROUP SW-VARIABLE SW-VARIABLE-PROTOTYPE SW-VCD-CRITERION SYNOPSIS TABLE TOPIC UNIT-GROUP UNIT XDOC XFILE XREF-TARGET"/>
		<xsd:attribute name="ID" type="xsd:ID"/>
		<xsd:attribute name="LC" type="xsd:anySimpleType"/>
		<xsd:attribute name="S" type="xsd:anySimpleType"/>
		<xsd:attribute name="SI" type="xsd:anySimpleType"/>
		<xsd:attribute name="T" type="xsd:anySimpleType"/>
		<xsd:attribute name="TI" type="xsd:anySimpleType"/>
		<xsd:attribute name="VIEW" type="xsd:anySimpleType"/>
	</xsd:complexType>
	<xsd:element name="SW-SYSTEM" type="SW-SYSTEM"/>
	<xsd:complexType name="SDG">
		<xsd:sequence>
			<xsd:element ref="SDG-CAPTION" minOccurs="0"/>
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:element ref="SD" minOccurs="0"/>
				<xsd:element ref="SDG" minOccurs="0"/>
			</xsd:choice>
		</xsd:sequence>
		<xsd:attribute name="C" type="xsd:anySimpleType"/>
		<xsd:attribute name="GID" type="xsd:anySimpleType" use="required"/>
		<xsd:attribute name="LC" type="xsd:anySimpleType"/>
		<xsd:attribute name="S" type="xsd:anySimpleType"/>
		<xsd:attribute name="SI" type="xsd:anySimpleType"/>
		<xsd:attribute name="T" type="xsd:anySimpleType"/>
		<xsd:attribute name="TI" type="xsd:anySimpleType"/>
		<xsd:attribute name="VIEW" type="xsd:anySimpleType"/>
	</xsd:complexType>
	<xsd:element name="SDG" type="SDG"/>
	<xsd:complexType name="NAMELOC">
		<xsd:sequence>
			<xsd:element ref="SHORT-NAME"/>
			<xsd:element ref="LONG-NAME" minOccurs="0"/>
			<xsd:element ref="NMLIST"/>
		</xsd:sequence>
		<xsd:attribute name="C" type="xsd:anySimpleType"/>
		<xsd:attribute name="EXT-ID-CLASS" type="xsd:NMTOKEN"/>
		<xsd:attribute name="F-ID-CLASS" type="xsd:NMTOKEN" fixed="EXTERNAL"/>
		<xsd:attribute name="HYTIME" type="xsd:NMTOKEN" fixed="NAMELOC"/>
		<xsd:attribute name="ID" type="xsd:ID"/>
		<xsd:attribute name="LC" type="xsd:anySimpleType"/>
		<xsd:attribute name="S" type="xsd:anySimpleType"/>
		<xsd:attribute name="SI" type="xsd:anySimpleType"/>
		<xsd:attribute name="T" type="xsd:anySimpleType"/>
		<xsd:attribute name="TI" type="xsd:anySimpleType"/>
		<xsd:attribute name="VIEW" type="xsd:anySimpleType"/>
	</xsd:complexType>
	<xsd:element name="NAMELOC" type="NAMELOC"/>
	<xsd:complexType name="LONG-NAME" mixed="true">
		<xsd:attribute name="C" type="xsd:anySimpleType"/>
		<xsd:attribute name="LC" type="xsd:anySimpleType"/>
		<xsd:attribute name="S" type="xsd:anySimpleType"/>
		<xsd:attribute name="SI" type="xsd:anySimpleType"/>
		<xsd:attribute name="T" type="xsd:anySimpleType"/>
		<xsd:attribute name="TI" type="xsd:anySimpleType"/>
		<xsd:attribute name="VIEW" type="xsd:anySimpleType"/>
	</xsd:complexType>
	<xsd:element name="LONG-NAME" type="LONG-NAME"/>
	<xsd:complexType name="SW-INSTANCE-SPEC">
		<xsd:sequence>
			<xsd:element ref="SW-INSTANCE-TREE" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="C" type="xsd:anySimpleType"/>
		<xsd:attribute name="LC" type="xsd:anySimpleType"/>
		<xsd:attribute name="S" type="xsd:anySimpleType"/>
		<xsd:attribute name="SI" type="xsd:anySimpleType"/>
		<xsd:attribute name="T" type="xsd:anySimpleType"/>
		<xsd:attribute name="TI" type="xsd:anySimpleType"/>
		<xsd:attribute name="VIEW" type="xsd:anySimpleType"/>
	</xsd:complexType>
	<xsd:element name="SW-INSTANCE-SPEC" type="SW-INSTANCE-SPEC"/>
	<xsd:complexType name="SDG-CAPTION">
		<xsd:sequence>
			<xsd:element ref="SHORT-NAME"/>
			<xsd:element ref="LONG-NAME" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="C" type="xsd:anySimpleType"/>
		<xsd:attribute name="F-ID-CLASS" type="xsd:NMTOKEN" fixed="SDG"/>
		<xsd:attribute name="ID" type="xsd:ID"/>
		<xsd:attribute name="LC" type="xsd:anySimpleType"/>
		<xsd:attribute name="S" type="xsd:anySimpleType"/>
		<xsd:attribute name="SI" type="xsd:anySimpleType"/>
		<xsd:attribute name="T" type="xsd:anySimpleType"/>
		<xsd:attribute name="TI" type="xsd:anySimpleType"/>
		<xsd:attribute name="VIEW" type="xsd:anySimpleType"/>
	</xsd:complexType>
	<xsd:element name="SDG-CAPTION" type="SDG-CAPTION"/>
	<xsd:complexType name="SD" mixed="true">
		<xsd:attribute name="C" type="xsd:anySimpleType"/>
		<xsd:attribute name="GID" type="xsd:anySimpleType" use="required"/>
		<xsd:attribute name="ID-CLASS" type="xsd:NMTOKEN"/>
		<xsd:attribute name="ID-REF" type="xsd:IDREF"/>
		<xsd:attribute name="LC" type="xsd:anySimpleType"/>
		<xsd:attribute name="S" type="xsd:anySimpleType"/>
		<xsd:attribute name="SI" type="xsd:anySimpleType"/>
		<xsd:attribute name="T" type="xsd:anySimpleType"/>
		<xsd:attribute name="TI" type="xsd:anySimpleType"/>
		<xsd:attribute name="VIEW" type="xsd:anySimpleType"/>
	</xsd:complexType>
	<xsd:element name="SD" type="SD"/>
	<xsd:complexType name="NMLIST" mixed="true">
		<xsd:attribute name="C" type="xsd:anySimpleType"/>
		<xsd:attribute name="DOCORSUB" type="xsd:anySimpleType"/>
		<xsd:attribute name="HYTIME" type="xsd:NMTOKEN" fixed="NMLIST"/>
		<xsd:attribute name="LC" type="xsd:anySimpleType"/>
		<xsd:attribute name="NAMETYPE" default="ELEMENT">
			<xsd:simpleType>
				<xsd:restriction base="xsd:NMTOKEN">
					<xsd:enumeration value="ELEMENT"/>
					<xsd:enumeration value="ENTITY"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="S" type="xsd:anySimpleType"/>
		<xsd:attribute name="SI" type="xsd:anySimpleType"/>
		<xsd:attribute name="T" type="xsd:anySimpleType"/>
		<xsd:attribute name="TI" type="xsd:anySimpleType"/>
		<xsd:attribute name="VIEW" type="xsd:anySimpleType"/>
	</xsd:complexType>
	<xsd:element name="NMLIST" type="NMLIST"/>
	<xsd:complexType name="SW-INSTANCE-TREE">
		<xsd:sequence>
			<xsd:element ref="SHORT-NAME"/>
			<xsd:element ref="LONG-NAME" minOccurs="0"/>
			<xsd:element ref="CATEGORY" minOccurs="0"/>
			<xsd:element ref="SW-INSTANCE-TREE-ORIGIN" minOccurs="0"/>
			<xsd:element ref="SW-CS-COLLECTIONS" minOccurs="0"/>
			<xsd:element ref="SW-INSTANCE" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="C" type="xsd:anySimpleType"/>
		<xsd:attribute name="F-ID-CLASS" type="xsd:NMTOKEN" fixed="SW-INSTANCE-TREE"/>
		<xsd:attribute name="F-NAMESPACE" type="xsd:NMTOKEN" fixed="SW-INSTANCE"/>
		<xsd:attribute name="ID" type="xsd:ID"/>
		<xsd:attribute name="LC" type="xsd:anySimpleType"/>
		<xsd:attribute name="S" type="xsd:anySimpleType"/>
		<xsd:attribute name="SI" type="xsd:anySimpleType"/>
		<xsd:attribute name="T" type="xsd:anySimpleType"/>
		<xsd:attribute name="TI" type="xsd:anySimpleType"/>
		<xsd:attribute name="VIEW" type="xsd:anySimpleType"/>
	</xsd:complexType>
	<xsd:element name="SW-INSTANCE-TREE" type="SW-INSTANCE-TREE"/>
	<xsd:complexType name="SW-INSTANCE-TREE-ORIGIN">
		<xsd:sequence>
			<xsd:element ref="SYMBOLIC-FILE" minOccurs="0"/>
			<xsd:element ref="DATA-FILE" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="C" type="xsd:anySimpleType"/>
		<xsd:attribute name="LC" type="xsd:anySimpleType"/>
		<xsd:attribute name="S" type="xsd:anySimpleType"/>
		<xsd:attribute name="SI" type="xsd:anySimpleType"/>
		<xsd:attribute name="T" type="xsd:anySimpleType"/>
		<xsd:attribute name="TI" type="xsd:anySimpleType"/>
		<xsd:attribute name="VIEW" type="xsd:anySimpleType"/>
	</xsd:complexType>
	<xsd:element name="SW-INSTANCE-TREE-ORIGIN" type="SW-INSTANCE-TREE-ORIGIN"/>
	<xsd:complexType name="SW-CS-COLLECTIONS">
		<xsd:sequence>
			<xsd:element ref="SW-CS-COLLECTION" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="C" type="xsd:anySimpleType"/>
		<xsd:attribute name="LC" type="xsd:anySimpleType"/>
		<xsd:attribute name="S" type="xsd:anySimpleType"/>
		<xsd:attribute name="SI" type="xsd:anySimpleType"/>
		<xsd:attribute name="T" type="xsd:anySimpleType"/>
		<xsd:attribute name="TI" type="xsd:anySimpleType"/>
		<xsd:attribute name="VIEW" type="xsd:anySimpleType"/>
	</xsd:complexType>
	<xsd:element name="SW-CS-COLLECTIONS" type="SW-CS-COLLECTIONS"/>
	<xsd:complexType name="SW-INSTANCE">
		<xsd:sequence>
			<xsd:choice>
				<xsd:element ref="SHORT-NAME"/>
				<xsd:element ref="SW-ARRAY-INDEX"/>
			</xsd:choice>
			<xsd:element ref="LONG-NAME" minOccurs="0"/>
			<xsd:element ref="DISPLAY-NAME" minOccurs="0"/>
			<xsd:element ref="CATEGORY" minOccurs="0"/>
			<xsd:element ref="SW-FEATURE-REF" minOccurs="0"/>
			<xsd:choice>
				<xsd:sequence>
					<xsd:element ref="SW-VALUE-CONT" minOccurs="0"/>
					<xsd:element ref="SW-AXIS-CONTS" minOccurs="0"/>
					<xsd:element ref="SW-CS-HISTORY" minOccurs="0"/>
					<xsd:element ref="SW-CS-FLAGS" minOccurs="0"/>
				</xsd:sequence>
				<xsd:element ref="SW-INSTANCE-PROPS-VARIANTS" minOccurs="0"/>
			</xsd:choice>
			<xsd:element ref="SW-INSTANCE" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="C" type="xsd:anySimpleType"/>
		<xsd:attribute name="F-ID-CLASS" type="xsd:anySimpleType" fixed="SW-INSTANCE"/>
		<xsd:attribute name="F-NAMESPACE" type="xsd:NMTOKEN" fixed="SW-INSTANCE"/>
		<xsd:attribute name="ID" type="xsd:ID"/>
		<xsd:attribute name="LC" type="xsd:anySimpleType"/>
		<xsd:attribute name="PW" default="PRECISE">
			<xsd:simpleType>
				<xsd:restriction base="xsd:NMTOKEN">
					<xsd:enumeration value="NOT-PRECISE"/>
					<xsd:enumeration value="PRECISE"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="S" type="xsd:anySimpleType"/>
		<xsd:attribute name="SI" type="xsd:anySimpleType"/>
		<xsd:attribute name="T" type="xsd:anySimpleType"/>
		<xsd:attribute name="TI" type="xsd:anySimpleType"/>
		<xsd:attribute name="VIEW" type="xsd:anySimpleType"/>
	</xsd:complexType>
	<xsd:element name="SW-INSTANCE" type="SW-INSTANCE"/>
	<xsd:complexType name="SYMBOLIC-FILE" mixed="true">
		<xsd:attribute name="C" type="xsd:anySimpleType"/>
		<xsd:attribute name="LC" type="xsd:anySimpleType"/>
		<xsd:attribute name="S" type="xsd:anySimpleType"/>
		<xsd:attribute name="SI" type="xsd:anySimpleType"/>
		<xsd:attribute name="T" type="xsd:anySimpleType"/>
		<xsd:attribute name="TI" type="xsd:anySimpleType"/>
		<xsd:attribute name="VIEW" type="xsd:anySimpleType"/>
	</xsd:complexType>
	<xsd:element name="SYMBOLIC-FILE" type="SYMBOLIC-FILE"/>
	<xsd:complexType name="DATA-FILE" mixed="true">
		<xsd:attribute name="C" type="xsd:anySimpleType"/>
		<xsd:attribute name="S" type="xsd:anySimpleType"/>
		<xsd:attribute name="LC" type="xsd:anySimpleType"/>
		<xsd:attribute name="SI" type="xsd:anySimpleType"/>
		<xsd:attribute name="T" type="xsd:anySimpleType"/>
		<xsd:attribute name="TI" type="xsd:anySimpleType"/>
		<xsd:attribute name="VIEW" type="xsd:anySimpleType"/>
	</xsd:complexType>
	<xsd:element name="DATA-FILE" type="DATA-FILE"/>
	<xsd:complexType name="SW-CS-COLLECTION">
		<xsd:sequence>
			<xsd:element ref="CATEGORY" minOccurs="0"/>
			<xsd:element ref="SW-FEATURE-REF" minOccurs="0"/>
			<xsd:element ref="REVISION" minOccurs="0"/>
			<xsd:element ref="SW-COLLECTION-REF" minOccurs="0"/>
			<xsd:element ref="SW-CS-HISTORY" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="C" type="xsd:anySimpleType"/>
		<xsd:attribute name="LC" type="xsd:anySimpleType"/>
		<xsd:attribute name="S" type="xsd:anySimpleType"/>
		<xsd:attribute name="SI" type="xsd:anySimpleType"/>
		<xsd:attribute name="T" type="xsd:anySimpleType"/>
		<xsd:attribute name="TI" type="xsd:anySimpleType"/>
		<xsd:attribute name="VIEW" type="xsd:anySimpleType"/>
	</xsd:complexType>
	<xsd:element name="SW-CS-COLLECTION" type="SW-CS-COLLECTION"/>
	<xsd:complexType name="SW-ARRAY-INDEX" mixed="true">
		<xsd:attribute name="C" type="xsd:anySimpleType"/>
		<xsd:attribute name="LC" type="xsd:anySimpleType"/>
		<xsd:attribute name="S" type="xsd:anySimpleType"/>
		<xsd:attribute name="SI" type="xsd:anySimpleType"/>
		<xsd:attribute name="T" type="xsd:anySimpleType"/>
		<xsd:attribute name="TI" type="xsd:anySimpleType"/>
		<xsd:attribute name="VIEW" type="xsd:anySimpleType"/>
	</xsd:complexType>
	<xsd:element name="SW-ARRAY-INDEX" type="SW-ARRAY-INDEX"/>
	<xsd:complexType name="DISPLAY-NAME" mixed="true">
		<xsd:attribute name="C" type="xsd:anySimpleType"/>
		<xsd:attribute name="LC" type="xsd:anySimpleType"/>
		<xsd:attribute name="S" type="xsd:anySimpleType"/>
		<xsd:attribute name="SI" type="xsd:anySimpleType"/>
		<xsd:attribute name="T" type="xsd:anySimpleType"/>
		<xsd:attribute name="TI" type="xsd:anySimpleType"/>
		<xsd:attribute name="VIEW" type="xsd:anySimpleType"/>
	</xsd:complexType>
	<xsd:element name="DISPLAY-NAME" type="DISPLAY-NAME"/>
	<xsd:complexType name="SW-FEATURE-REF" mixed="true">
		<xsd:attribute name="C" type="xsd:anySimpleType"/>
		<xsd:attribute name="F-ID-CLASS" type="xsd:NMTOKEN" fixed="SW-FEATURE"/>
		<xsd:attribute name="HYNAMES" type="xsd:NMTOKENS" fixed="LINKEND ID-REF"/>
		<xsd:attribute name="HYTIME" type="xsd:NMTOKEN" fixed="CLINK"/>
		<xsd:attribute name="ID-REF" type="xsd:IDREF"/>
		<xsd:attribute name="LC" type="xsd:anySimpleType"/>
		<xsd:attribute name="S" type="xsd:anySimpleType"/>
		<xsd:attribute name="SI" type="xsd:anySimpleType"/>
		<xsd:attribute name="T" type="xsd:anySimpleType"/>
		<xsd:attribute name="TI" type="xsd:anySimpleType"/>
		<xsd:attribute name="VIEW" type="xsd:anySimpleType"/>
	</xsd:complexType>
	<xsd:element name="SW-FEATURE-REF" type="SW-FEATURE-REF"/>
	<xsd:complexType name="REVISION" mixed="true">
		<xsd:attribute name="C" type="xsd:anySimpleType"/>
		<xsd:attribute name="LC" type="xsd:anySimpleType"/>
		<xsd:attribute name="S" type="xsd:anySimpleType"/>
		<xsd:attribute name="SI" type="xsd:anySimpleType"/>
		<xsd:attribute name="SYSCOND" type="xsd:anySimpleType"/>
		<xsd:attribute name="T" type="xsd:anySimpleType"/>
		<xsd:attribute name="TI" type="xsd:anySimpleType"/>
		<xsd:attribute name="VIEW" type="xsd:anySimpleType"/>
	</xsd:complexType>
	<xsd:element name="REVISION" type="REVISION"/>
	<xsd:complexType name="SW-VALUE-CONT">
		<xsd:sequence>
			<xsd:element ref="UNIT-DISPLAY-NAME" minOccurs="0"/>
			<xsd:element ref="SW-ARRAYSIZE" minOccurs="0"/>
			<xsd:element ref="SW-VALUES-PHYS" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="C" type="xsd:anySimpleType"/>
		<xsd:attribute name="LC" type="xsd:anySimpleType"/>
		<xsd:attribute name="S" type="xsd:anySimpleType"/>
		<xsd:attribute name="SI" type="xsd:anySimpleType"/>
		<xsd:attribute name="T" type="xsd:anySimpleType"/>
		<xsd:attribute name="TI" type="xsd:anySimpleType"/>
		<xsd:attribute name="VIEW" type="xsd:anySimpleType"/>
	</xsd:complexType>
	<xsd:element name="SW-VALUE-CONT" type="SW-VALUE-CONT"/>
	<xsd:complexType name="SW-AXIS-CONTS">
		<xsd:sequence>
			<xsd:element ref="SW-AXIS-CONT" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="C" type="xsd:anySimpleType"/>
		<xsd:attribute name="LC" type="xsd:anySimpleType"/>
		<xsd:attribute name="S" type="xsd:anySimpleType"/>
		<xsd:attribute name="SI" type="xsd:anySimpleType"/>
		<xsd:attribute name="T" type="xsd:anySimpleType"/>
		<xsd:attribute name="TI" type="xsd:anySimpleType"/>
		<xsd:attribute name="VIEW" type="xsd:anySimpleType"/>
	</xsd:complexType>
	<xsd:element name="SW-AXIS-CONTS" type="SW-AXIS-CONTS"/>
	<xsd:complexType name="SW-CS-HISTORY">
		<xsd:sequence>
			<xsd:element ref="CS-ENTRY" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="C" type="xsd:anySimpleType"/>
		<xsd:attribute name="LC" type="xsd:anySimpleType"/>
		<xsd:attribute name="S" type="xsd:anySimpleType"/>
		<xsd:attribute name="SI" type="xsd:anySimpleType"/>
		<xsd:attribute name="T" type="xsd:anySimpleType"/>
		<xsd:attribute name="TI" type="xsd:anySimpleType"/>
		<xsd:attribute name="VIEW" type="xsd:anySimpleType"/>
	</xsd:complexType>
	<xsd:element name="SW-CS-HISTORY" type="SW-CS-HISTORY"/>
	<xsd:complexType name="SW-CS-FLAGS">
		<xsd:sequence>
			<xsd:element ref="SW-CS-FLAG" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="S" type="xsd:anySimpleType"/>
		<xsd:attribute name="SI" type="xsd:anySimpleType"/>
		<xsd:attribute name="C" type="xsd:anySimpleType"/>
		<xsd:attribute name="LC" type="xsd:anySimpleType"/>
		<xsd:attribute name="T" type="xsd:anySimpleType"/>
		<xsd:attribute name="TI" type="xsd:anySimpleType"/>
		<xsd:attribute name="VIEW" type="xsd:anySimpleType"/>
	</xsd:complexType>
	<xsd:element name="SW-CS-FLAGS" type="SW-CS-FLAGS"/>
	<xsd:complexType name="SW-INSTANCE-PROPS-VARIANTS">
		<xsd:sequence>
			<xsd:element ref="SW-INSTANCE-PROPS-VARIANT" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="C" type="xsd:anySimpleType"/>
		<xsd:attribute name="LC" type="xsd:anySimpleType"/>
		<xsd:attribute name="S" type="xsd:anySimpleType"/>
		<xsd:attribute name="SI" type="xsd:anySimpleType"/>
		<xsd:attribute name="T" type="xsd:anySimpleType"/>
		<xsd:attribute name="TI" type="xsd:anySimpleType"/>
		<xsd:attribute name="VIEW" type="xsd:anySimpleType"/>
	</xsd:complexType>
	<xsd:element name="SW-INSTANCE-PROPS-VARIANTS" type="SW-INSTANCE-PROPS-VARIANTS"/>
	<xsd:complexType name="SW-COLLECTION-REF" mixed="true">
		<xsd:attribute name="C" type="xsd:anySimpleType"/>
		<xsd:attribute name="F-ID-CLASS" type="xsd:NMTOKEN" fixed="SW-COLLECTION"/>
		<xsd:attribute name="HYNAMES" type="xsd:NMTOKENS" fixed="LINKEND ID-REF"/>
		<xsd:attribute name="HYTIME" type="xsd:NMTOKEN" fixed="CLINK"/>
		<xsd:attribute name="ID-REF" type="xsd:IDREF"/>
		<xsd:attribute name="INVERT" default="NO-INVERT">
			<xsd:simpleType>
				<xsd:restriction base="xsd:NMTOKEN">
					<xsd:enumeration value="INVERT"/>
					<xsd:enumeration value="NO-INVERT"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="LC" type="xsd:anySimpleType"/>
		<xsd:attribute name="S" type="xsd:anySimpleType"/>
		<xsd:attribute name="SI" type="xsd:anySimpleType"/>
		<xsd:attribute name="T" type="xsd:anySimpleType"/>
		<xsd:attribute name="TI" type="xsd:anySimpleType"/>
		<xsd:attribute name="VIEW" type="xsd:anySimpleType"/>
	</xsd:complexType>
	<xsd:element name="SW-COLLECTION-REF" type="SW-COLLECTION-REF"/>
	<xsd:complexType name="UNIT-DISPLAY-NAME" mixed="true">
		<xsd:attribute name="C" type="xsd:anySimpleType"/>
		<xsd:attribute name="LC" type="xsd:anySimpleType"/>
		<xsd:attribute name="S" type="xsd:anySimpleType"/>
		<xsd:attribute name="SI" type="xsd:anySimpleType"/>
		<xsd:attribute name="T" type="xsd:anySimpleType"/>
		<xsd:attribute name="TI" type="xsd:anySimpleType"/>
		<xsd:attribute name="VIEW" type="xsd:anySimpleType"/>
		<xsd:attribute ref="xml:space" fixed="preserve"/>
	</xsd:complexType>
	<xsd:element name="UNIT-DISPLAY-NAME" type="UNIT-DISPLAY-NAME"/>
	<xsd:complexType name="SW-ARRAYSIZE">
		<xsd:sequence>
			<xsd:element ref="V" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="C" type="xsd:anySimpleType"/>
		<xsd:attribute name="LC" type="xsd:anySimpleType"/>
		<xsd:attribute name="S" type="xsd:anySimpleType"/>
		<xsd:attribute name="SI" type="xsd:anySimpleType"/>
		<xsd:attribute name="T" type="xsd:anySimpleType"/>
		<xsd:attribute name="TI" type="xsd:anySimpleType"/>
		<xsd:attribute name="VIEW" type="xsd:anySimpleType"/>
	</xsd:complexType>
	<xsd:element name="SW-ARRAYSIZE" type="SW-ARRAYSIZE"/>
	<xsd:complexType name="SW-VALUES-PHYS">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element ref="VT"/>
			<xsd:element ref="V"/>
			<xsd:element ref="VG"/>
		</xsd:choice>
		<xsd:attribute name="C" type="xsd:anySimpleType"/>
		<xsd:attribute name="LC" type="xsd:anySimpleType"/>
		<xsd:attribute name="S" type="xsd:anySimpleType"/>
		<xsd:attribute name="SI" type="xsd:anySimpleType"/>
		<xsd:attribute name="T" type="xsd:anySimpleType"/>
		<xsd:attribute name="TI" type="xsd:anySimpleType"/>
		<xsd:attribute name="VIEW" type="xsd:anySimpleType"/>
	</xsd:complexType>
	<xsd:element name="SW-VALUES-PHYS" type="SW-VALUES-PHYS"/>
	<xsd:complexType name="SW-AXIS-CONT">
		<xsd:sequence>
			<xsd:element ref="CATEGORY" minOccurs="0"/>
			<xsd:element ref="UNIT-DISPLAY-NAME" minOccurs="0"/>
			<xsd:element ref="SW-INSTANCE-REF" minOccurs="0"/>
			<xsd:element ref="SW-ARRAYSIZE" minOccurs="0"/>
			<xsd:element ref="SW-VALUES-PHYS" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="C" type="xsd:anySimpleType"/>
		<xsd:attribute name="LC" type="xsd:anySimpleType"/>
		<xsd:attribute name="S" type="xsd:anySimpleType"/>
		<xsd:attribute name="SI" type="xsd:anySimpleType"/>
		<xsd:attribute name="T" type="xsd:anySimpleType"/>
		<xsd:attribute name="TI" type="xsd:anySimpleType"/>
		<xsd:attribute name="VIEW" type="xsd:anySimpleType"/>
	</xsd:complexType>
	<xsd:element name="SW-AXIS-CONT" type="SW-AXIS-CONT"/>
	<xsd:complexType name="CS-ENTRY">
		<xsd:sequence>
			<xsd:element ref="STATE"/>
			<xsd:element ref="DATE"/>
			<xsd:element ref="CSUS"/>
			<xsd:element ref="CSPR" minOccurs="0"/>
			<xsd:element ref="CSWP" minOccurs="0"/>
			<xsd:element ref="CSTO" minOccurs="0"/>
			<xsd:element ref="CSTV" minOccurs="0"/>
			<xsd:element ref="CSPI" minOccurs="0"/>
			<xsd:element ref="CSDI" minOccurs="0"/>
			<xsd:element ref="REMARK" minOccurs="0"/>
			<xsd:element ref="SD" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="C" type="xsd:anySimpleType"/>
		<xsd:attribute name="LC" type="xsd:anySimpleType"/>
		<xsd:attribute name="S" type="xsd:anySimpleType"/>
		<xsd:attribute name="SI" type="xsd:anySimpleType"/>
		<xsd:attribute name="T" type="xsd:anySimpleType"/>
		<xsd:attribute name="TI" type="xsd:anySimpleType"/>
		<xsd:attribute name="VIEW" type="xsd:anySimpleType"/>
	</xsd:complexType>
	<xsd:element name="CS-ENTRY" type="CS-ENTRY"/>
	<xsd:complexType name="SW-CS-FLAG">
		<xsd:sequence>
			<xsd:element ref="CATEGORY" minOccurs="0"/>
			<xsd:element ref="FLAG" minOccurs="0"/>
			<xsd:element ref="CSUS" minOccurs="0"/>
			<xsd:element ref="DATE" minOccurs="0"/>
			<xsd:element ref="REMARK" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="C" type="xsd:anySimpleType"/>
		<xsd:attribute name="LC" type="xsd:anySimpleType"/>
		<xsd:attribute name="T" type="xsd:anySimpleType"/>
		<xsd:attribute name="TI" type="xsd:anySimpleType"/>
		<xsd:attribute name="S" type="xsd:anySimpleType"/>
		<xsd:attribute name="SI" type="xsd:anySimpleType"/>
		<xsd:attribute name="VIEW" type="xsd:anySimpleType"/>
	</xsd:complexType>
	<xsd:element name="SW-CS-FLAG" type="SW-CS-FLAG"/>
	<xsd:complexType name="SW-INSTANCE-PROPS-VARIANT">
		<xsd:sequence>
			<xsd:element ref="SW-VCD-CRITERION-VALUES" minOccurs="0"/>
			<xsd:element ref="SW-VALUE-CONT" minOccurs="0"/>
			<xsd:element ref="SW-AXIS-CONTS" minOccurs="0"/>
			<xsd:element ref="SW-CS-HISTORY" minOccurs="0"/>
			<xsd:element ref="SW-CS-FLAGS" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="C" type="xsd:anySimpleType"/>
		<xsd:attribute name="LC" type="xsd:anySimpleType"/>
		<xsd:attribute name="S" type="xsd:anySimpleType"/>
		<xsd:attribute name="SI" type="xsd:anySimpleType"/>
		<xsd:attribute name="T" type="xsd:anySimpleType"/>
		<xsd:attribute name="TI" type="xsd:anySimpleType"/>
		<xsd:attribute name="VIEW" type="xsd:anySimpleType"/>
	</xsd:complexType>
	<xsd:element name="SW-INSTANCE-PROPS-VARIANT" type="SW-INSTANCE-PROPS-VARIANT"/>
	<xsd:complexType name="V" mixed="true">
		<xsd:attribute name="C" type="xsd:anySimpleType"/>
		<xsd:attribute name="LC" type="xsd:anySimpleType"/>
		<xsd:attribute name="S" type="xsd:anySimpleType"/>
		<xsd:attribute name="SI" type="xsd:anySimpleType"/>
		<xsd:attribute name="T" type="xsd:anySimpleType"/>
		<xsd:attribute name="TI" type="xsd:anySimpleType"/>
		<xsd:attribute name="VIEW" type="xsd:anySimpleType"/>
	</xsd:complexType>
	<xsd:element name="V" type="V"/>
	<xsd:complexType name="VT" mixed="true">
		<xsd:attribute name="C" type="xsd:anySimpleType"/>
		<xsd:attribute name="LC" type="xsd:anySimpleType"/>
		<xsd:attribute name="S" type="xsd:anySimpleType"/>
		<xsd:attribute name="SI" type="xsd:anySimpleType"/>
		<xsd:attribute name="T" type="xsd:anySimpleType"/>
		<xsd:attribute name="TI" type="xsd:anySimpleType"/>
		<xsd:attribute name="VIEW" type="xsd:anySimpleType"/>
		<xsd:attribute ref="xml:space" fixed="preserve"/>
	</xsd:complexType>
	<xsd:element name="VT" type="VT"/>
	<xsd:complexType name="VG">
		<xsd:sequence>
			<xsd:element ref="LABEL" minOccurs="0"/>
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:element ref="VT"/>
				<xsd:element ref="V"/>
				<xsd:element ref="VG"/>
			</xsd:choice>
		</xsd:sequence>
		<xsd:attribute name="C" type="xsd:anySimpleType"/>
		<xsd:attribute name="LC" type="xsd:anySimpleType"/>
		<xsd:attribute name="S" type="xsd:anySimpleType"/>
		<xsd:attribute name="SI" type="xsd:anySimpleType"/>
		<xsd:attribute name="T" type="xsd:anySimpleType"/>
		<xsd:attribute name="TI" type="xsd:anySimpleType"/>
		<xsd:attribute name="VIEW" type="xsd:anySimpleType"/>
	</xsd:complexType>
	<xsd:element name="VG" type="VG"/>
	<xsd:complexType name="SW-INSTANCE-REF" mixed="true">
		<xsd:attribute name="C" type="xsd:anySimpleType"/>
		<xsd:attribute name="F-ID-CLASS" type="xsd:NMTOKEN" fixed="SW-INSTANCE"/>
		<xsd:attribute name="HYNAMES" type="xsd:NMTOKENS" fixed="LINKEND ID-REF"/>
		<xsd:attribute name="HYTIME" type="xsd:NMTOKEN" fixed="CLINK"/>
		<xsd:attribute name="ID-REF" type="xsd:IDREF"/>
		<xsd:attribute name="LC" type="xsd:anySimpleType"/>
		<xsd:attribute name="S" type="xsd:anySimpleType"/>
		<xsd:attribute name="SI" type="xsd:anySimpleType"/>
		<xsd:attribute name="T" type="xsd:anySimpleType"/>
		<xsd:attribute name="TI" type="xsd:anySimpleType"/>
		<xsd:attribute name="VIEW" type="xsd:anySimpleType"/>
	</xsd:complexType>
	<xsd:element name="SW-INSTANCE-REF" type="SW-INSTANCE-REF"/>
	<xsd:complexType name="STATE" mixed="true">
		<xsd:attribute name="C" type="xsd:anySimpleType"/>
		<xsd:attribute name="LC" type="xsd:anySimpleType"/>
		<xsd:attribute name="S" type="xsd:anySimpleType"/>
		<xsd:attribute name="SI" type="xsd:anySimpleType"/>
		<xsd:attribute name="T" type="xsd:anySimpleType"/>
		<xsd:attribute name="TI" type="xsd:anySimpleType"/>
		<xsd:attribute name="VIEW" type="xsd:anySimpleType"/>
	</xsd:complexType>
	<xsd:element name="STATE" type="STATE"/>
	<xsd:complexType name="DATE" mixed="true">
		<xsd:attribute name="C" type="xsd:anySimpleType"/>
		<xsd:attribute name="LC" type="xsd:anySimpleType"/>
		<xsd:attribute name="S" type="xsd:anySimpleType"/>
		<xsd:attribute name="SI" type="xsd:anySimpleType"/>
		<xsd:attribute name="T" type="xsd:anySimpleType"/>
		<xsd:attribute name="TI" type="xsd:anySimpleType"/>
		<xsd:attribute name="VIEW" type="xsd:anySimpleType"/>
	</xsd:complexType>
	<xsd:element name="DATE" type="DATE"/>
	<xsd:complexType name="CSUS" mixed="true">
		<xsd:attribute name="C" type="xsd:anySimpleType"/>
		<xsd:attribute name="LC" type="xsd:anySimpleType"/>
		<xsd:attribute name="S" type="xsd:anySimpleType"/>
		<xsd:attribute name="SI" type="xsd:anySimpleType"/>
		<xsd:attribute name="T" type="xsd:anySimpleType"/>
		<xsd:attribute name="TI" type="xsd:anySimpleType"/>
		<xsd:attribute name="VIEW" type="xsd:anySimpleType"/>
	</xsd:complexType>
	<xsd:element name="CSUS" type="CSUS"/>
	<xsd:complexType name="CSPR" mixed="true">
		<xsd:attribute name="C" type="xsd:anySimpleType"/>
		<xsd:attribute name="LC" type="xsd:anySimpleType"/>
		<xsd:attribute name="S" type="xsd:anySimpleType"/>
		<xsd:attribute name="SI" type="xsd:anySimpleType"/>
		<xsd:attribute name="T" type="xsd:anySimpleType"/>
		<xsd:attribute name="TI" type="xsd:anySimpleType"/>
		<xsd:attribute name="VIEW" type="xsd:anySimpleType"/>
	</xsd:complexType>
	<xsd:element name="CSPR" type="CSPR"/>
	<xsd:complexType name="CSWP" mixed="true">
		<xsd:attribute name="C" type="xsd:anySimpleType"/>
		<xsd:attribute name="LC" type="xsd:anySimpleType"/>
		<xsd:attribute name="S" type="xsd:anySimpleType"/>
		<xsd:attribute name="SI" type="xsd:anySimpleType"/>
		<xsd:attribute name="T" type="xsd:anySimpleType"/>
		<xsd:attribute name="TI" type="xsd:anySimpleType"/>
		<xsd:attribute name="VIEW" type="xsd:anySimpleType"/>
	</xsd:complexType>
	<xsd:element name="CSWP" type="CSWP"/>
	<xsd:complexType name="CSTO" mixed="true">
		<xsd:attribute name="C" type="xsd:anySimpleType"/>
		<xsd:attribute name="LC" type="xsd:anySimpleType"/>
		<xsd:attribute name="S" type="xsd:anySimpleType"/>
		<xsd:attribute name="SI" type="xsd:anySimpleType"/>
		<xsd:attribute name="T" type="xsd:anySimpleType"/>
		<xsd:attribute name="TI" type="xsd:anySimpleType"/>
		<xsd:attribute name="VIEW" type="xsd:anySimpleType"/>
	</xsd:complexType>
	<xsd:element name="CSTO" type="CSTO"/>
	<xsd:complexType name="CSTV" mixed="true">
		<xsd:attribute name="C" type="xsd:anySimpleType"/>
		<xsd:attribute name="LC" type="xsd:anySimpleType"/>
		<xsd:attribute name="S" type="xsd:anySimpleType"/>
		<xsd:attribute name="SI" type="xsd:anySimpleType"/>
		<xsd:attribute name="T" type="xsd:anySimpleType"/>
		<xsd:attribute name="TI" type="xsd:anySimpleType"/>
		<xsd:attribute name="VIEW" type="xsd:anySimpleType"/>
	</xsd:complexType>
	<xsd:element name="CSTV" type="CSTV"/>
	<xsd:complexType name="CSPI" mixed="true">
		<xsd:attribute name="C" type="xsd:anySimpleType"/>
		<xsd:attribute name="LC" type="xsd:anySimpleType"/>
		<xsd:attribute name="S" type="xsd:anySimpleType"/>
		<xsd:attribute name="SI" type="xsd:anySimpleType"/>
		<xsd:attribute name="T" type="xsd:anySimpleType"/>
		<xsd:attribute name="TI" type="xsd:anySimpleType"/>
		<xsd:attribute name="VIEW" type="xsd:anySimpleType"/>
	</xsd:complexType>
	<xsd:element name="CSPI" type="CSPI"/>
	<xsd:complexType name="CSDI" mixed="true">
		<xsd:attribute name="C" type="xsd:anySimpleType"/>
		<xsd:attribute name="LC" type="xsd:anySimpleType"/>
		<xsd:attribute name="S" type="xsd:anySimpleType"/>
		<xsd:attribute name="SI" type="xsd:anySimpleType"/>
		<xsd:attribute name="T" type="xsd:anySimpleType"/>
		<xsd:attribute name="TI" type="xsd:anySimpleType"/>
		<xsd:attribute name="VIEW" type="xsd:anySimpleType"/>
	</xsd:complexType>
	<xsd:element name="CSDI" type="CSDI"/>
	<xsd:complexType name="REMARK">
		<xsd:sequence>
			<xsd:element ref="P" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="C" type="xsd:anySimpleType"/>
		<xsd:attribute name="LC" type="xsd:anySimpleType"/>
		<xsd:attribute name="S" type="xsd:anySimpleType"/>
		<xsd:attribute name="SI" type="xsd:anySimpleType"/>
		<xsd:attribute name="T" type="xsd:anySimpleType"/>
		<xsd:attribute name="TI" type="xsd:anySimpleType"/>
		<xsd:attribute name="VIEW" type="xsd:anySimpleType"/>
	</xsd:complexType>
	<xsd:element name="REMARK" type="REMARK"/>
	<xsd:complexType name="FLAG" mixed="true">
		<xsd:attribute name="S" type="xsd:anySimpleType"/>
		<xsd:attribute name="SI" type="xsd:anySimpleType"/>
		<xsd:attribute name="C" type="xsd:anySimpleType"/>
		<xsd:attribute name="LC" type="xsd:anySimpleType"/>
		<xsd:attribute name="VIEW" type="xsd:anySimpleType"/>
		<xsd:attribute name="T" type="xsd:anySimpleType"/>
		<xsd:attribute name="TI" type="xsd:anySimpleType"/>
	</xsd:complexType>
	<xsd:element name="FLAG" type="FLAG"/>
	<xsd:complexType name="SW-VCD-CRITERION-VALUES">
		<xsd:sequence>
			<xsd:element ref="SW-VCD-CRITERION-VALUE" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="C" type="xsd:anySimpleType"/>
		<xsd:attribute name="LC" type="xsd:anySimpleType"/>
		<xsd:attribute name="S" type="xsd:anySimpleType"/>
		<xsd:attribute name="SI" type="xsd:anySimpleType"/>
		<xsd:attribute name="T" type="xsd:anySimpleType"/>
		<xsd:attribute name="TI" type="xsd:anySimpleType"/>
		<xsd:attribute name="VIEW" type="xsd:anySimpleType"/>
	</xsd:complexType>
	<xsd:element name="SW-VCD-CRITERION-VALUES" type="SW-VCD-CRITERION-VALUES"/>
	<xsd:complexType name="LABEL" mixed="true">
		<xsd:attribute name="C" type="xsd:anySimpleType"/>
		<xsd:attribute name="LC" type="xsd:anySimpleType"/>
		<xsd:attribute name="S" type="xsd:anySimpleType"/>
		<xsd:attribute name="SI" type="xsd:anySimpleType"/>
		<xsd:attribute name="T" type="xsd:anySimpleType"/>
		<xsd:attribute name="TI" type="xsd:anySimpleType"/>
		<xsd:attribute name="VIEW" type="xsd:anySimpleType"/>
	</xsd:complexType>
	<xsd:element name="LABEL" type="LABEL"/>
	<xsd:complexType name="P" mixed="true">
		<xsd:attribute name="C" type="xsd:anySimpleType"/>
		<xsd:attribute name="HELP-ENTRY" type="xsd:anySimpleType"/>
		<xsd:attribute name="KEEP-WITH-PREVIOUS">
			<xsd:simpleType>
				<xsd:restriction base="xsd:NMTOKEN">
					<xsd:enumeration value="NO-KEEP"/>
					<xsd:enumeration value="KEEP"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="LC" type="xsd:anySimpleType"/>
		<xsd:attribute name="S" type="xsd:anySimpleType"/>
		<xsd:attribute name="SI" type="xsd:anySimpleType"/>
		<xsd:attribute name="T" type="xsd:anySimpleType"/>
		<xsd:attribute name="TI" type="xsd:anySimpleType"/>
		<xsd:attribute name="VIEW" type="xsd:anySimpleType"/>
	</xsd:complexType>
	<xsd:element name="P" type="P"/>
	<xsd:complexType name="SW-VCD-CRITERION-VALUE">
		<xsd:sequence>
			<xsd:element ref="SW-VCD-CRITERION-REF"/>
			<xsd:element ref="VT"/>
		</xsd:sequence>
		<xsd:attribute name="C" type="xsd:anySimpleType"/>
		<xsd:attribute name="LC" type="xsd:anySimpleType"/>
		<xsd:attribute name="S" type="xsd:anySimpleType"/>
		<xsd:attribute name="SI" type="xsd:anySimpleType"/>
		<xsd:attribute name="T" type="xsd:anySimpleType"/>
		<xsd:attribute name="TI" type="xsd:anySimpleType"/>
		<xsd:attribute name="VIEW" type="xsd:anySimpleType"/>
	</xsd:complexType>
	<xsd:element name="SW-VCD-CRITERION-VALUE" type="SW-VCD-CRITERION-VALUE"/>
	<xsd:complexType name="SW-VCD-CRITERION-REF" mixed="true">
		<xsd:attribute name="C" type="xsd:anySimpleType"/>
		<xsd:attribute name="F-ID-CLASS" type="xsd:NMTOKEN" fixed="SW-VCD-CRITERION"/>
		<xsd:attribute name="HYNAMES" type="xsd:NMTOKENS" fixed="LINKEND ID-REF"/>
		<xsd:attribute name="HYTIME" type="xsd:NMTOKEN" fixed="CLINK"/>
		<xsd:attribute name="ID-REF" type="xsd:IDREF"/>
		<xsd:attribute name="LC" type="xsd:anySimpleType"/>
		<xsd:attribute name="S" type="xsd:anySimpleType"/>
		<xsd:attribute name="SI" type="xsd:anySimpleType"/>
		<xsd:attribute name="T" type="xsd:anySimpleType"/>
		<xsd:attribute name="TI" type="xsd:anySimpleType"/>
		<xsd:attribute name="VIEW" type="xsd:anySimpleType"/>
	</xsd:complexType>
	<xsd:element name="SW-VCD-CRITERION-REF" type="SW-VCD-CRITERION-REF"/>
</xsd:schema>
